body {
    padding: 15px;
    background-color: rgb(59, 179, 11);
}

.title {
    
    font-size: 70px;
    background-image: linear-gradient(yellow, red);
    -webkit-background-clip: text;
    color: transparent;
    margin: auto;
    display: inline-block;
}

.recipes {
    display: block;
    justify-content: left;
    padding: 30px;    
    text-decoration: none;
}

.recipes a {
    margin-left: 30px;
    text-decoration: none;
    padding: 15px;
}

.recipes li {
    list-style: none;
    font-size: 40px;
}

.food-title {
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke: 2px black;
    color: rgb(247, 243, 8);
}

h3 {
    font-size: 20px;
}

p {
    font-size: 20px;
}

ul {
    font-size: 30px;
}

ol {
    font-size: 30px;
}

.food-img {
    width: 400px;
    height: 400px;
}

.instructions {
    font-size: 30px;
}

.ingredients {
    font-size: 30px;
}